
/* VARIABLES
---------------------------------------------------- */

$radius: 4px;
$logo-height: 48px;
$font-color: #2c3e50;

/* GENERAL
---------------------------------------------------- */

body {
    padding-top: 120px;
    padding-bottom: 80px;
    background-color: #ecf0f1;
}

/* NAVBAR
---------------------------------------------------- */

.navbar .nav > li > a {
    line-height: $logo-height;
}

/* FORMS
---------------------------------------------------- */

input[type=text] {
    border-radius: $radius;
    color: $font-color;
    font-size: 1.1em;
    margin: 0 4px 0 0;
}

.btn { border-radius: $radius; }

select {
    border-radius: $radius;
    color: $font-color;
}

#search-box input[type=text] { width: 600px; }
#search-box button { width: 150px; }

#add-word input[type=text] { width: 600px; }

/* WORD LIST
---------------------------------------------------- */

.word {
    margin-top: 40px;
    font-size: 2.2em;
}

.word .lang {
    margin-left: 20px;
    margin-right: 60px;
    font-size: 0.4em;
    font-style: italic;
}

.translation {
    margin-top: 20px;
    font-size: 1.3em;
    padding-left: 30px;
}

.translation > li {
    padding: 3px;
}

.translation .lang {
    margin-left: 20px;
    font-size: 0.5em;
    font-style: italic;
}
