
$radius: 4px;
$logo-height: 48px;
$font-color: #2c3e50;

@mixin background {
    background-color: #ecf0f1;
};

/* GENERAL
---------------------------------------------------- */

body {
    @include background;
    padding-top: 120px;
    padding-bottom: 80px;
}

p {
    font-size: 1.2em;
}

/* NAVBAR
---------------------------------------------------- */

.navbar .nav > li > a {
    line-height: $logo-height;
}

/* FORMS
---------------------------------------------------- */

input[type=text] {
    border-radius: $radius;
    color: $font-color;
    font-size: 1.1em;
    margin: 0 4px 0 0;
    width: 400px;
}

select {
    border-radius: $radius;
    color: $font-color;
}

.btn { border-radius: $radius; }

.search-box { margin-bottom: 40px; }
.search-box button { width: 150px; }
.search-box input[type=text] { width: 600px; }

.add-word .lbl { margin: 6px 0 3px 0; }
.add-word .lang a { margin-left: 20px; }
.add-word .btn { margin-top: 6px; }


/* TRANSLATIONS LIST
---------------------------------------------------- */

a.word {
    color: $font-color;
    text-decoration: none;
}

a.word:hover { border-bottom: 1px dotted; }

.main-word { font-size: 2.2em; }

.lang-lbl {
    margin-left: 20px;
    font-size: 0.4em;
    font-style: italic;
}

.main-word .lang-lbl { font-size: 0.4em; }

.main-word a.edit {
    font-size: 0.5em;
    margin-left: 100px;
    color: $font-color;
    opacity: 0.6;
}

.main-word a.edit:hover {
    opacity: 1;
    text-decoration: none;
    border-bottom: 1px dotted;
}

.translation .lang-lbl { font-size: 0.5em; }

.translation {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1.3em;
    padding-left: 30px;
}

.translation > li { padding: 3px; }

/* LANGUAGES LIST
---------------------------------------------------- */

.languages {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1.3em;
}

.languages > li { padding: 3px; }

/* MODAL
---------------------------------------------------- */

.modal {
    @include background;
}

.modal form {
    margin: 0;
    padding: 0;
}

.modal input[type=text] {
    width: 514px;
    margin: 0 !important
}
